{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FERREMAS &copy; {% block title %}Base{% endblock %}</title>
    <!-- Bootstrap CSS from global static -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <style>
        * {
            overscroll-behavior: none;
        }

        body {
            background-color:
                transparent;
        }
    </style>

    <!-- Custom CSS -->
    {% block extracss %}
    {% endblock %}
</head>

<body>
    <header class="bg-body-secondary">
        {% include 'core/navbar.html' %}
    </header>
    <main class="d-flex flex-column min-vh-100">
        {% block content %}

        {% endblock %}
    </main>
    <footer class="bg-body-secondary text-light pt-5 pb-4">
        {% include 'core/footer.html' %}
    </footer>

    <!-- Bootstrap JS from 'static/js' -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- JS specificly from app core -->

    <!-- Extrajs -->

    {% block extrajs %}
    {% endblock %}
</body>

</html>